#autobiography {
  background-image: linear-gradient(
      rgba(31, 41, 55, 0.5),
      rgba(31, 41, 55, 0.5)
    ),
    url(../../static/background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
