#design {
  .image {
    height: 25vh;
    min-height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer;

    &:hover,
    &.selected {
      opacity: 1;
    }
  }
}

#lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .display-image {
    max-width: 80%;
    z-index: 7;
  }

  .next-button,
  .close {
    z-index: 8;
  }

  .mask {
    z-index: 6;
  }
}
